
$num: 1;

@each $color in $grid_colors {
    .box#{$num} {
        background-color: nth($grid_colors, 2);
        color: nth($grid_colors, 1);
        padding: 1rem 1rem 0rem 1rem;
    }

    $num: $num + 1;

}

.grid {
    display: grid;
    grid-template-columns: 50%;
    grid-template-areas: 
    'box1 box2';

}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

