$logga_background: #283d3b;
$logga_color: #fffcf9;
$logga_shadow: rgba(30, 30, 30, 1);

$navbar_background: lighten($logga_background, 10%);
$navbar_hover: lighten($navbar_background, 10%);

$grid_colors:  #000, #fff;
