#myBtn {
  bottom: 20px;
  border: 2px solid #fff;
  color: white;
  font-size: 1vw;
  cursor: pointer;
  border-radius: 10px;
  display: none;
  right: 30px;
  height: 4vw;
  line-height: 2vw;
  background-color: $logga_background;
  padding: 15px;
  position: fixed;
  z-index: 99;
}

#myBtn:hover {
  background-color: $navbar_hover;
}