html {
    box-sizing: border-box;
    font-size: 1.5vw;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

@import 'colorscheme';
@import 'navbar';
@import 'logga';
@import 'footer';
@import 'boxes';

// Media query


@media only screen and (max-width: 700px) {
    
    html {
        font-size: 4vw;
    }

    .grid {
        grid-template-columns: 100%;
        grid-template-areas: 
        'box1'
        'box2'
        ;
    }
    
}

@media only screen and (max-width: 400px) {
    
    .box {
        min-height: 100px;
    }
    
}

